@import url('https://fonts.googleapis.com/css?family=Anton|Source+Sans+Pro&display=swap');
* {
    padding: 0;
    margin: 0;
}

.masthead {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./imagens/bg-masthead.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.imagens {
    width: 500px;
    height: 300px;
}

.callout {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./imagens/bg-callout.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo {
    font-family: Source Sans Pro;
    display: flex;
    justify-content: center;
    font-size: 500%;
}

.botao {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.botao a,
.botao a:visited {
    font: bold 12px/24px Source Sans Pro;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background: #1675DD url('botao_link.gif') no-repeat center center;
    width: 120px;
    height: 40px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botao a:hover {
    background: #1675DD url('botao_hover.gif') no-repeat center center;
    color: #999;
}

.text {
    margin-top: 5px;
    font-family: Source Sans Pro;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.partedois {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 400px;
}

.partetres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0040ff;
    width: 100%;
    height: 400px;
}

.baixo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0040ff;
    width: 100%;
    height: 250px;
}

.links {
    background-color: white;
    width: 100%;
    height: 200px;
}

.portfotos {
    width: 100%;
    height: 800px;
    background-color: white;
}

.portfotoscentro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    font-size: 80%;
    width: 100%;
    height: 10px;
    color: #999;
    margin-bottom: 30px;
}

.imggroup1 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.imggroup2 {
    display: flex;
    justify-content: center;
}

.whitebutton {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
}

.whitebutton a,
.whitebutton a:visited {
    font: bold 12px/24px Source Sans Pro;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #000000;
    background: #ffffff url('botao_link.gif') no-repeat center center;
    width: 120px;
    height: 40px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.whitebutton a:hover {
    background: #ffffff url('botao_hover.gif') no-repeat center center;
    color: #999;
}

.textcolor {
    color: #ffff00;
}

.container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dentro {
    font-family: Source Sans Pro;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textinho {
    font-family: Source Sans Pro;
    display: flex;
    justify-content: center;
}

.imgzinha {
    width: 100px;
    height: 100px;
}

.titulo2 {
    font-size: 300%;
}

.botaocor a:hover {
    background: #6b6b47 url('botao_hover.gif') no-repeat center center !important;
    color: #999 !important;
}

.horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spacebutton {
    margin-right: 25px;
}

.blackbutton {
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blackbutton a,
.blackbutton a:visited {
    font: bold 12px/24px Source Sans Pro;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background: #1f1f14 url('botao_link.gif') no-repeat center center;
    width: 120px;
    height: 40px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blackbutton a:hover {
    background: #1f1f14 url('botao_hover.gif') no-repeat center center;
    color: #999;
}

.textwhite {
    color: #ffffff;
    font-size: 180%;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto1 {
    color: white;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: Source Sans Pro;
    background-image: url(./imagens/portfolio-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.foto2 {
    color: white;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: Source Sans Pro;
    background-image: url(./imagens/portfolio-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.foto3 {
    color: white;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: Source Sans Pro;
    background-image: url(./imagens/portfolio-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.foto4 {
    color: white;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: Source Sans Pro;
    background-image: url(./imagens/portfolio-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.margin {
    margin-bottom: 50px;
    margin-left: 50px;
}

.face {
    margin-top: 50px;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background-image: url(./imagens/facebook.png);
    background-position: center;
    margin-right: 20px;
}

.twitter {
    margin-top: 50px;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background-image: url(./imagens/twitter.png);
    background-position: center;
    margin-right: 20px;
}

.git {
    margin-top: 50px;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background-image: url(./imagens/git.png);
    background-position: center;
    margin-right: 20px;
}